<div class="form-div">
  <form class="form-main bg-white m-auto">
    <div class="flex flex-col flex-wrap">
      <div class="mb-5">
        <h3 class="heading-form">Select Category</h3>
        <div class="category-select-div flex  flex-wrap space-between mb-5">
          <div class="  category-select">
            <label>Auto</label>>
            <label> Car</label> > <label>BMW</label>
          </div>
          <div class="c flex align-center">
            <mat-icon>info</mat-icon>
            <label class="label-hide self-center text-right ml-5">
              This is a free Category
            </label>
          </div>
        </div>
        <hr>
      </div>
      <h4 class="heading-form">Photos</h4>
      <sub>You can add upto 24 photos</sub>
      <div class="flex">

        <div class=" justify-center items-center w-full mt-4" style="width: 50%;">
          <label for="dropzone-file" style="height: 310px"
                 class="flex flex-col justify-center items-center w-full h-64 bg-white rounded-lg border-2 border-gray-300 border-solid cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col justify-center items-center pt-5 pb-6">
              <mat-icon color="accent" class="add-file-mat-icon">add</mat-icon>
            </div>
            <input id="dropzone-file" type="file" class="hidden">
          </label>
        </div>

        <div class="grid grid-cols-2" style="width: 50%;gap: 10px;margin-left: 10px">
          <div class="flex justify-center items-center w-full mt-4" style="height: 150px">
            <label for="dropzone-file" style="height: inherit"
                   class="flex flex-col justify-center items-center w-full h-64 bg-white rounded-lg border-2 border-gray-300 border-solid cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <input id="dropzone-file" type="file" class="hidden">
            </label>
          </div>
          <div class="flex justify-center items-center w-full mt-4" style="height: 150px">
            <label for="dropzone-file" style="height: inherit"
                   class="flex flex-col justify-center items-center w-full h-64 bg-white rounded-lg border-2 border-gray-300 border-solid cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <input id="dropzone-file" type="file" class="hidden">
            </label>
          </div>
          <div class="flex justify-center items-center w-full" style="height: 150px">
            <label for="dropzone-file" style="height: inherit"
                   class="flex flex-col justify-center items-center w-full h-64 bg-white rounded-lg border-2 border-gray-300 border-solid cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <input id="dropzone-file" type="file" class="hidden">
            </label>
          </div>
          <div class="flex justify-center items-center w-full" style="height: 150px">
            <label for="dropzone-file" style="height: inherit"
                   class="flex flex-col justify-center items-center w-full h-64 bg-white rounded-lg border-2 border-gray-300 border-solid cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <input id="dropzone-file" type="file" class="hidden">
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
