<div class="form-div">
  <form class="form-main bg-white m-auto" [formGroup]="carForm" (submit)="addCar()">
    <div class="flex flex-col flex-wrap">
      <div class="mb-5">
        <h3 class="heading-form">Select Category</h3>
        <div class="category-select-div flex  flex-wrap space-between mb-5">
          <div class="  category-select">
            <label>Auto</label>>
            <label> Car</label> > <label>BMW</label>
          </div>
          <div class="c flex align-center">
            <mat-icon>info</mat-icon>
            <label class="label-hide self-center text-right ml-5">
              This is a free Category
            </label>
          </div>
        </div>
        <hr>
      </div>
      <h4 class="heading-form">Photos</h4>
      <sub>You can add upto 24 photos</sub>
      <div class="mb-5 flex custom-flex">

        <div class=" justify-center items-center w-full mt-4" style="width: 50%;">
          <label for="dropzone-file1" style="height: 310px"
                 class="flex flex-col justify-center items-center w-full h-64 bg-white rounded-lg border-2 border-gray-300 border-solid cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col justify-center items-center pt-5 pb-6">
              <mat-icon color="accent" class="add-file-mat-icon">add</mat-icon>
            </div>
            <input id="dropzone-file1" type="file" class="hidden">
          </label>
        </div>

        <div class="grid grid-cols-2" style="width: 50%;gap: 10px;margin-left: 10px">
          <div class="flex justify-center items-center w-full mt-4" style="height: 150px">
            <label for="dropzone-file2" style="height: inherit"
                   class="flex flex-col justify-center items-center w-full h-64 bg-white rounded-lg border-2 border-gray-300 border-solid cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <input id="dropzone-file2" type="file" class="hidden">
            </label>
          </div>
          <div class="flex justify-center items-center w-full mt-4" style="height: 150px">
            <label for="dropzone-file3" style="height: inherit"
                   class="flex flex-col justify-center items-center w-full h-64 bg-white rounded-lg border-2 border-gray-300 border-solid cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <input id="dropzone-file3" type="file" class="hidden">
            </label>
          </div>
          <div class="flex justify-center items-center w-full" style="height: 150px">
            <label for="dropzone-file4" style="height: inherit"
                   class="flex flex-col justify-center items-center w-full h-64 bg-white rounded-lg border-2 border-gray-300 border-solid cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <input id="dropzone-file4" type="file" class="hidden">
            </label>
          </div>
          <div class="flex justify-center items-center w-full" style="height: 150px">
            <label for="dropzone-file5" style="height: inherit"
                   class="flex flex-col justify-center items-center w-full h-64 bg-white rounded-lg border-2 border-gray-300 border-solid cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <input id="dropzone-file5" type="file" class="hidden">
            </label>
          </div>
        </div>

      </div>
      <hr>
      <div>

        <h4 class="heading-form">Details</h4>
        <div class="mb-5 flex custom-flex">

          <div class=" justify-center items-center w-full mt-4" style="width: 70%;">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                Title
              </label>
              <input matInput formControlName="title"
                     class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                     id="title" name="title" type="text">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
                Description
              </label>
              <editor id="description" matInput formControlName="description"
                      apiKey="ma4bhg9448864e35asz6aejqd05f3wlww44k3f13a6k2qf33"
                      [init]="tiny_config">
              </editor>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h4 class="heading-form">Features</h4>
        <div class="mb-5 flex custom-flex">

          <div class=" justify-center items-center w-full mt-4" style="width: 70%;">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="transmission">
                Transmission
              </label>
              <mat-select matInput formControlName="transmission"
                          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <mat-option value="manual">Manual</mat-option>
                <mat-option value="auto">Auto</mat-option>
              </mat-select>
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="fuel_type">
                Fuel Type
              </label>
              <mat-select matInput formControlName="fuel_type"
                          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <mat-option value="Petrol">opt1</mat-option>
                <mat-option value="Diesel">opt1</mat-option>
                <mat-option value="Gas">opt1</mat-option>
              </mat-select>
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="built_year">
                Built Year
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="built_year" name="built_year" type="date">

            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="color">
                Color
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="color" formControlName="color" name="color" type="text">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="mileage">
                Mileage
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="mileage" name="color" formControlName="mileage" type="mileage">
            </div>
          </div>
        </div>
      </div>
      <div>
        <h4 class="heading-form">Maintenance</h4>
        <div class="mb-5 flex custom-flex">

          <div class=" justify-center items-center w-full mt-4" style="width: 70%;">
            <div class="mb-4">
              <mat-checkbox [checked]="options.adaptive_lights"></mat-checkbox>
              Maintained By Company
            </div>
          </div>
        </div>
      </div>
      <div class="custom-flex">
        <h4 class="heading-form">Price</h4>
        <div class="mb-4 seventy-width">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="price_type">
            Price Type

          </label>
          <mat-select matInput formControlName="price_type" id="price_type"
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <mat-option value="10000">10000</mat-option>
            <mat-option value="20000">20000</mat-option>
            <mat-option value="30000">30000</mat-option>
          </mat-select>
        </div>
        <div class="mt-1 relative rounded-md shadow-sm seventy-width">
          <input type="number" step="0.01" name="price" id="price" formControlName="price"
                 class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"
                 placeholder="0.00">
          <div style="padding-top: 3%" class="absolute inset-y-0 right-0 flex items-center">
            <label
              class="focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md">PKR</label>

          </div>
        </div>

      </div>
      <div class="custom-flex">
        <h4 class="heading-form">Contact Details</h4>
        <div class="mb-4 seventy-width">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name_on_ad">
            Name on the Ad
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name_on_ad" formControlName="name" name="name_on_ad" type="text">
        </div>
        <div class="mb-4 seventy-width">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email Address
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email" name="email" formControlName="email" type="email">
        </div>
        <div class="mb-4 seventy-width">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="phone_number">
            Phone Number
          </label>
          <input formControlName="phone_number"
                 class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                 id="phone_number" name="phone_number" type="number">
        </div>
        <div class="mb-4 seventy-width">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="whatsapp_number">
            Whatsapp
          </label>
          Show Whatsapp No
          <mat-slide-toggle formControlName="show_whatsapp"></mat-slide-toggle>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="whatsapp" id="whatsapp_number" name="whatsapp_number" type="number">
        </div>
        <div class="mb-4 seventy-width">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="location">
            Your location (e.g city)
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="city" id="location" name="location" type="text">
        </div>
        <div class="mb-4 seventy-width">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="area">
            Area
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="area" name="area" formControlName="area" type="text">
        </div>
      </div>
      <div class="custom-flex">
        <h4 class="heading-form">Options</h4>
        <div class="flex flex-row mb-4 justify-around custom-flex-to-column">
          <div class="flex flex-col">
            <mat-checkbox [checked]="options.four_by_four" >4x4</mat-checkbox>
            <mat-checkbox [checked]="options.abs">ABS</mat-checkbox>
            <mat-checkbox [checked]="options.adaptive_lights">Adaptive Lights</mat-checkbox>
            <mat-checkbox [checked]="options.adaptive_cruise_control">Adaptive Cruise Control</mat-checkbox>
            <mat-checkbox [checked]="options.airbags">Airbags</mat-checkbox>
            <mat-checkbox [checked]="options.air_conditioning">Air conditioning</mat-checkbox>
            <mat-checkbox [checked]="options.alarm">Alarm</mat-checkbox>
            <mat-checkbox [checked]="options.upholstery_leather">Upholstery Leather</mat-checkbox>
            <mat-checkbox [checked]="options.bluetooth">Bluetooth</mat-checkbox>
            <mat-checkbox [checked]="options.onboard_computer">On-board computer</mat-checkbox>
            <mat-checkbox [checked]="options.central_locking">Central Locking</mat-checkbox>
            <mat-checkbox [checked]="options.climate_control">Climate Control</mat-checkbox>
            <mat-checkbox [checked]="options.cruise_control">Cruise Control</mat-checkbox>
            <mat-checkbox [checked]="options.blind_spot_detection">Blind spot detection</mat-checkbox>
            <mat-checkbox [checked]="options.electric_tailgate">Electric tailgate</mat-checkbox>
            <mat-checkbox [checked]="options.electric_door_mirrors">Electric door mirrors</mat-checkbox>
          </div>
          <div class="flex flex-col">
            <mat-checkbox [checked]="options.electric_seat_adjustment">Electric seat adjustment</mat-checkbox>
            <mat-checkbox [checked]="options.electronic_stability_program">Electronic Stability Program (ESP)
            </mat-checkbox>
            <mat-checkbox [checked]="options.emergency_brake_assist">Emergency brake assist</mat-checkbox>
            <mat-checkbox [checked]="options.isofix">Isofix</mat-checkbox>
            <mat-checkbox [checked]="options.keyless_entry">Keyless entry</mat-checkbox>
            <mat-checkbox [checked]="options.alloy_wheels">Alloy wheels</mat-checkbox>
            <mat-checkbox [checked]="options.metallic_paint">Metallic paint</mat-checkbox>
            <mat-checkbox [checked]="options.fog_lights">Fog lights</mat-checkbox>
            <mat-checkbox [checked]="options.navigation_system">Navigation System</mat-checkbox>
            <mat-checkbox [checked]="options.open_roof">Open roof</mat-checkbox>
            <mat-checkbox [checked]="options.panaroma_roof">Panaroma roof</mat-checkbox>
            <mat-checkbox [checked]="options.parking_assist">Parking assist</mat-checkbox>
            <mat-checkbox [checked]="options.parking_camera">Parking camera</mat-checkbox>
            <mat-checkbox [checked]="options.parking_sensor">Parking sensor</mat-checkbox>
            <mat-checkbox [checked]="options.radio">Radio</mat-checkbox>
            <mat-checkbox [checked]="options.sliding_door">Sliding Door</mat-checkbox>
          </div>
          <div class="flex flex-col">
            <mat-checkbox [checked]="options.sports_package">Sports Package</mat-checkbox>
            <mat-checkbox [checked]="options.sports_seats">Sports seats</mat-checkbox>
            <mat-checkbox [checked]="options.voice_control">Voice control</mat-checkbox>
            <mat-checkbox [checked]="options.immobilizer">Immobilizer</mat-checkbox>
            <mat-checkbox [checked]="options.start_stop_system">Start-stop system</mat-checkbox>
            <mat-checkbox [checked]="options.massage_chair">Massage chair</mat-checkbox>
            <mat-checkbox [checked]="options.seat_ventilation">Seat ventilation</mat-checkbox>
            <mat-checkbox [checked]="options.seat_heating">Seat heating</mat-checkbox>
            <mat-checkbox [checked]="options.steering_wheel_heating">Steering wheel heating</mat-checkbox>
            <mat-checkbox [checked]="options.traction_control">Traction control</mat-checkbox>
            <mat-checkbox [checked]="options.trailer_hitch">Trailer hitch</mat-checkbox>
            <mat-checkbox [checked]="options.usb">USB</mat-checkbox>
            <mat-checkbox [checked]="options.traffic_sign_recognition">Traffic Sign Recogniton</mat-checkbox>
            <mat-checkbox [checked]="options.fatigue_detection">Fatigue Detection</mat-checkbox>
            <mat-checkbox [checked]="options.heated_door_mirrors">Heated Door Mirrors</mat-checkbox>
            <mat-checkbox [checked]="options.xenon_lighting">Xenon Lighting</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="bottom-buttons mt-4">
        <button type="button" style="background-color: #E5E5E5"
                class="text-white  hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Preview Ad
        </button>
        <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Post an Ad
        </button>
      </div>


    </div>
  </form>
</div>
